.navbar {
  border-bottom: #0fc928 3px solid;
  opacity: 0.8;
}

body {
  background: url(../img/avenger.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#mainContent .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#mainContent .main-inner {
  padding-top: 150px;
}

.list-group-item {
  background: rgba(0, 0, 0, 0);
}

.card {
  height: 650px;
}

.card-img-top {
  height: 500px;
}

#img-actor-card {
  min-height: 180px;
}

#actor-card {
  height: 260px;
}

#actor-card-body {
  padding: 0.75rem;
}

#logo-img {
  height: 50px;
}

ul {
  padding-inline-start: 0;
}
